<style>

<!--

BODY	   {FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}

A:link		{font-family: arial, verdana;
			color: #003366;}

A:visited	{font-family: arial, verdana;
			color: #003366;}			

A:active	{font-family: arial, verdana;
			color: #003366;}
	
A.leftNav:link		{font-family: arial, verdana;
					 color: #000000; 
					 text-decoration: none;
					 font-size: 8pt;}

A.mainMenu:link		{font-family: arial, verdana;
					 color: #000000; 
					 text-decoration: none;
					 font-size: 10pt;}

A.mainMenu:visited		{font-family: arial, verdana;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 10pt;}

A.mainMenu:active		{font-family: arial, verdana;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 10pt;}
						 
A.mainMenu:hover	{font-family: arial, verdana;
				color: #000099; 
				text-decoration: underline;
				font-size: 10pt;}


A.leftNav:visited		{font-family: arial, verdana;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 8pt;}

A.leftNav:active		{font-family: arial, verdana;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 8pt;}
						 
A.leftNav:hover	{font-family: arial, verdana;
				color: #000000; 
				text-decoration: underline;
				font-size: 8pt;}

						
A.wt:link		{font-family: arial, verdana;
				color: #FFFFFF; 
				text-decoration: none;
				font-size: 8pt;}

A.wt:visited	{font-family: arial, verdana;
				color: #FFFFFF; 
				text-decoration: none;
				font-size: 8pt;}				

A.wt:active		{font-family: arial, verdana;
				color: #FFFFFF; 
				text-decoration: none;
				font-size: 8pt;}					
				
A.wt:hover		{font-family: arial, verdana;
				color: #FFFFFF; 
				text-decoration: underline;
				font-size: 8pt;}

A.FileDoc:link		{font-family: Times New Roman, Times, serif;
					 color: #000000; 
					 text-decoration: none;
					 font-size: 10pt;}

A.FileDoc:visited		{font-family: Times New Roman, Times, serif;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 10pt;}

A.FileDoc:active		{font-family: Times New Roman, Times, serif;
					 	 color: #000000; 
					 	 text-decoration: none;
					 	 font-size: 10pt;}

A.FileDoc:hover		{font-family: Times New Roman, Times, serif;
					 	 color: #000000; 
					 	 text-decoration: underline;
					 	 font-size: 10pt;}

A.FileDocUnderline:link		{font-family: Times New Roman, Times, serif;
					 color: #000000; 
					 text-decoration: underline;
					 font-size: 10pt;}

A.FileDocUnderline:visited		{font-family: Times New Roman, Times, serif;
					 	 color: #000000; 
					 	 text-decoration: underline;
					 	 font-size: 10pt;}

A.FileDocUnderline:active		{font-family: Times New Roman, Times, serif;
					 	 color: #000000; 
					 	 text-decoration: underline;
					 	 font-size: 10pt;}
						 
A.FileDocLarge:link		{font-family: Times New Roman, Times, serif;
				   	     color: #000000; 
					     text-decoration: underline;
					     font-size: 14pt;}

A.FileDocLarge:visited		{font-family: Times New Roman, Times, serif;
					 	     color: #000000; 
					 	     text-decoration: underline;
					 	     font-size: 14pt;}

A.FileDocLarge:active		{font-family: Times New Roman, Times, serif;
					 	     color: #000000; 
					 	     text-decoration: underline;
					 	     font-size: 14pt;}

A.TxnStatutes:link        {FONT-FAMILY: Arial, Helvetica, sans-serif;
			               COLOR:#003366;
			               FONT-SIZE: 9pt;}
A.TxnStatutes:visited     {FONT-FAMILY: Arial, Helvetica, sans-serif;
			               COLOR:#003366;
			               FONT-SIZE: 9pt;}
A.TxnStatutes:active      {FONT-FAMILY: Arial, Helvetica, sans-serif;
			               COLOR:#003366;
			               FONT-SIZE: 9pt;}


TD			{FONT-FAMILY: Arial, Helvetica, sans-serif;
			COLOR:#000000;
			FONT-SIZE: 10pt;}
		
P			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}
			
B			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}
			
I			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}
			
UL			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}
			
LI			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}						
			
H1			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 12pt;}
			
H2			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 11pt;}
			
H3			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 10pt;}
			
H4			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 9pt;}
																	
.sm			{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 7pt;}
			
.footer		{FONT-FAMILY: arial, verdana;
			COLOR:#000000;
			FONT-SIZE: 8pt;}
			
.page_hdg  {FONT-FAMILY: verdana, arial, verdana;
			COLOR:#CC9900;
			FONT-SIZE: 18pt;
			font-weight : bold;}
			
.page_hdgsub  {FONT-FAMILY: verdana, arial, verdana;
				COLOR:#CC9900;
				FONT-SIZE: 14pt;
				font-weight : bold;}			
						
.page_hdgsubsmall  {FONT-FAMILY: verdana, arial, verdana;
				COLOR:#CC9900;
				FONT-SIZE: 11pt;
				font-weight : bold;}
				
.page_messages  {FONT-FAMILY: Times New Roman, Times, serif;
			     COLOR:#FF0000;
			     FONT-SIZE: 12pt;
			     font-weight : normal;}			
	
.page_errors  {FONT-FAMILY: Times New Roman, Times, serif;
			     COLOR:#FF0000;
			     FONT-SIZE: 12pt;
			     font-weight : normal;}			
	
.page_description  {FONT-FAMILY: Times New Roman, Times, serif;
			     COLOR:blue;
			     FONT-SIZE: 12pt;
			     font-weight : normal;}			
	
.bottom_links		{FONT-FAMILY: arial, verdana;
					 COLOR:#FFFFFF;
					 FONT-SIZE: 8pt;}			

/*  .group_title is for a title of a group of input elements */
.group_title   {FONT-FAMILY: Arial, Helvetica, sans-serif;
				COLOR:#000000;
			    font-weight : bold;			
				FONT-SIZE: 10pt;}

/*  .group_title is for a title of a group of input elements */
.warning_error_msg   {FONT-FAMILY: Times New Roman, Times, serif;
				COLOR:red;
			    font-weight : bold;			
				FONT-SIZE: 14pt;}

/*  .txn_provision is legal provisions included on a transaction form */
.txn_provision   {FONT-FAMILY: Times New Roman, Times, serif;
				  COLOR:#000000;
			      font-weight : normal;			
				  FONT-SIZE: 10pt;
				  font-style: italic;}

.normal_italic   {FONT-FAMILY: Times New Roman, Times, serif;
				  COLOR:#000000;
			      font-weight : normal;			
				  FONT-SIZE: 11pt;
				  font-style: italic;}

.small_italic    {FONT-FAMILY: Times New Roman, Times, serif;
				  COLOR:#000000;
			      font-weight : normal;			
				  FONT-SIZE: 8pt;
				  font-style: italic;}

.txn_statutes	{FONT-FAMILY: Arial, Helvetica, sans-serif;
			     COLOR:#000000;
			     FONT-SIZE: 10pt;}

.rules_text_bold    {FONT-FAMILY: Times New Roman, Times, serif;
				     COLOR:#000000;
			         font-weight : bold;			
				     FONT-SIZE: 12pt;}

.rules_text_normal    {FONT-FAMILY: Times New Roman, Times, serif;
				       COLOR:#000000;
		 	           font-weight : normal;			
				       FONT-SIZE: 12pt;}
 
//-->

</style>